.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Importing fonts from Google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Reseting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #edeff1;
}

.wrapper {
  max-width: 380px;
  min-height: 500px;
  margin: 30px auto;
  padding: 30px;
  background-color: #e4eaee;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
  width: 110px;
  height: auto;
  margin: auto;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7,
    -8px -8px 15px #fff;
}

.wrapper .name {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: #555;
}

.wrapper .form-field input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1.3rem;
  color: #666;
  padding: 10px 15px 10px 10px;
  /* border: 1px solid red; */
}

.wrapper .form-field {
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
  color: #555;
}

.wrapper .btn {
  box-shadow: none;
  width: 100%;
  height: 40px;
  background-color: #03a9f4;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
  letter-spacing: 1.3px;
}

.wrapper .btn:hover {
  background-color: #039be5;
  color: #fff;
}

.wrapper a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #03a9f4;
}

.wrapper a:hover {
  color: #039be5;
}

.result {
  min-height: auto;
}

.score {
  color: rgb(20, 20, 184);
}

.text-border {
  text-shadow: 0.2px 0.2px 1px #000;
}

/* navbar */
.nav .navbarNav a {
  height: 50px;
  width: 120px;
  box-shadow: 3px 3px 7px #42a0ff, -5px -5px 10px rgba(195, 222, 240, 0.89);
}
.nav .navbarNav a:hover {
  scale: 1.01;
  box-shadow: none;
  transition: 0.2s ease-in-out;
  box-shadow: 5px 5px 12px #42a0ff, -5px -5px 12px rgba(195, 222, 240, 0.89);
}

@media (max-width: 380px) {
  .wrapper {
    margin: 30px 20px;
    padding: 40px 15px 15px 15px;
  }
}

marquee img {
  max-width: 80px;
  max-height: 80px;
  background-size: cover;
  object-fit: cover;
}
.sponsor-s {
  width: 48px;
  height: 48px;
  background-size: cover;
  object-fit: cover;
}
.sponsor-m {
  width: 64px;
  height: 64px;
  background-size: cover;
  object-fit: cover;
}
.sponsor-l {
  width: 80px;
  height: 80px;
  background-size: cover;
  object-fit: cover;
}

.loader {
  width: 48px;
  height: 24px;
  background: currentColor;
  border-radius: 50% 50% 0 0;
  position: relative;
  display: block;
  margin: 80px auto 0;
  box-sizing: border-box;
  animation: animloader 4s linear infinite;
}
.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: currentColor;
  top: -34px;
  box-sizing: border-box;
  animation: animloader1 4s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 0 0 0 -2px, 0 0 0 -2px, 0 0 0 -5px, 0 0 0 -5px;
  }
  20% {
    box-shadow: 40px -1px 0 -2px, 0 0 0 -2px, 40px -1px 0 -5px, 0 0 0 -5px;
  }
  40% {
    box-shadow: 40px -1px 0 -2px, -40px -1px 0 -2px, 40px -1px 0 -5px,
      -40px -1px 0 -5px;
  }
  60% {
    box-shadow: 40px -1px 0 -2px, -40px -1px 0 -2px, 23px -29px 0 -5px,
      -40px -1px 0 -5px;
  }
  80%,
  95% {
    box-shadow: 40px -1px 0 -2px, -40px -1px 0 -2px, 23px -29px 0 -5px,
      -23px -29px 0 -5px;
  }
  100% {
    box-shadow: 40px -1px 0 -2px rgba(255, 255, 255, 0),
      -40px -1px 0 -2px rgba(255, 255, 255, 0),
      23px -29px 0 -5px rgba(255, 255, 255, 0),
      -23px -29px 0 -5px rgba(255, 255, 255, 0);
  }
}

@keyframes animloader1 {
  0% {
    box-shadow: 0 0 0 -2px, 0 0 0 -2px, 0 0 0 -5px, 0 0 0 -5px;
  }
  20% {
    box-shadow: 40px 2px 0 -2px, 0 0 0 -2px, 40px 2px 0 -5px, 0 0 0 -5px;
  }
  40% {
    box-shadow: 40px 2px 0 -2px, -40px 2px 0 -2px, 40px 2px 0 -5px,
      -40px 2px 0 -5px;
  }
  60% {
    box-shadow: 40px 2px 0 -2px, -40px 2px 0 -2px, 23px -23px 0 -5px,
      -40px 2px 0 -5px;
  }
  80%,
  95% {
    box-shadow: 40px 2px 0 -2px, -40px 2px 0 -2px, 23px -23px 0 -5px,
      -23px -23px 0 -5px;
  }
  100% {
    box-shadow: 40px 2px 0 -2px rgba(255, 255, 255, 0),
      -40px 2px 0 -2px rgba(255, 255, 255, 0),
      23px -23px 0 -5px rgba(255, 255, 255, 0),
      -23px -23px 0 -5px rgba(255, 255, 255, 0);
  }
}

.loader2 {
  font-size: 24px;
  color: #fff;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.loader2:before {
  content: "";
  animation: 3s print linear alternate infinite;
}
.loader2:after {
  content: "";
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translatey(-45%);
  width: 2px;
  height: 1.3em;
  background: currentColor;
  opacity: 0.8;
  animation: 1s blink steps(2) infinite;
}

@keyframes blink {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes print {
  0% {
    content: "W";
  }
  10% {
    content: "Wa";
  }
  20% {
    content: "Wai";
  }
  30% {
    content: "Wait";
  }
  40% {
    content: "Waiti";
  }
  50% {
    content: "Waitin";
  }
  60% {
    content: "Waiting";
  }
  70% {
    content: "Waiting.";
  }
  80% {
    content: "Waiting..";
  }
  90%,
  100% {
    content: "Waiting...";
  }
}